html {
	font-size: 62.5%;
}


* {
	box-sizing: border-box;
}

nav {
	background-color: #000070;
	display: flex;
	justify-content: space-between;
}

nav .cont {
	display: flex;
}

nav img {
	width: 300px;
	height: 80px;
	background-color: #ff00ff;
}

nav .wrap {
	display: flex;
}

nav .btn {
	height: 100%;
	border: 1px solid #D3D3D3;
	background-color: #808080;
	padding-left: 10px;
	padding-right: 10px;
}

h5 {
	color: #ffffff;
	font-size: 1.5rem;
}

