html {
	font-size: 62.5%;
}


* {
	box-sizing: border-box;
}

nav {
	background-color: #000070;
	display: flex;
	justify-content: space-between;
}

.cont {
	display: flex;
	margin: 0 auto;
}


nav img {
	width: 300px;
	height: 80px;
	background-color: #ff00ff;
}

nav .wrap {
	display: flex;
}

.btn {
	height: 100%;
	border: 1px solid #D3D3D3;
	background-color: #808080;
	padding-left: 10px;
	padding-right: 10px;
}

h5 {
	color: #ffffff;
	font-size: 1.5rem;
}

header {
	height: 600px;
	background-image: url(https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619);
}

