html {
	font-size: 62.5%;
}


* {
	box-sizing: border-box;
}

nav {
	background-color: #000070;
}

nav .cont {
	display: flex;
}

nav img {
	width: 300px;
	height: 50px;
	background-color: #ff00ff;
}

nav .wrap {
	display: flex;
}

h5 {
	color: #ffffff;
}