html {
	font-size: 62.5%;
}


* {
	box-sizing: border-box;
}

nav {
	background-color: #000070;
	display: flex;
	justify-content: space-between;
}

.cont {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}


nav img {
	width: 300px;
	height: 80px;
	background-color: #ff00ff;
}

nav .wrap {
	display: flex;
}

.btn {
	height: 100%;
	border: 1px solid #D3D3D3;
	background-color: #808080;
	padding-left: 10px;
	padding-right: 10px;
}

h5 {
	color: #ffffff;
	font-size: 1.5rem;
}

header {
	height: 600px;
	width: 100%;
	background-image: url(https://cdn.shopify.com/s/files/1/1634/8185/t/2/assets/slide1_image.jpg?v=9240162744247295619);
	
	display: flex;
	justify-content: center;
	align-items: center;
}

section {
	width: 90%;
	height: 200px;
	margin: 0 auto;
	
	position: relative;
	bottom: 100px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-color: #800020;*/
	z-index: 99;
}

.bx {
	height: 100%;
	width: 200px;
	margin: 0 auto;
	
	background-color: #808080;
	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;	
}

h4 {
	color: #ffffff;
	font-size: 2rem;
	
}

main {
	height: 1000px;
	background-color: #00ff12;
	position: relative;
	bottom: 200px;
	padding-top: 200px;
	
}

article {
	height: 100px;
	width: 200px;
}